<div class="small-chart-container">
    <canvas id="chart-p0" width='200' height='150'></canvas>
</div>
<div class="small-chart-container">
    <canvas id="chart-p1" width='200' height='150'></canvas>
</div>
<div class="small-chart-container">
    <canvas id="chart-p2" width='200' height='150'></canvas>
</div>
<div class="small-chart-container">
    <canvas id="chart-p3" width='200' height='150'></canvas>
</div>
<div class="large-chart-container">
    <canvas id="chart-all" width='830' height='400'></canvas>
</div>
